APP_NAME=农商行知识问答 Agent
LOG_LEVEL=INFO
# LLMOps 平台根地址，例如 https://host:30443/llm/llmops
KB_PLATFORM_BASE_URL=http://127.0.0.1:8080
KB_PROJECT_ID=assets
KB_AUTHORIZATION=
# 模型服务
REWRITE_MODEL_URL=http://77.6.65.47:8099/api/model/chat/completions
REWRITE_MODEL_NAME=Qwen2.5-coder-7B-Instruct
ANSWER_MODEL_URL=http://77.6.65.47:8099/api/model/75e3041c-7b05-4d8d-a51c-317c470dfc26/chat/completions
ANSWER_MODEL_NAME=Qwen3-32B
MODEL_ACCESS_KEY=
FAQ_SIMILARITY_THRESHOLD=0.98
RETRIEVAL_TOP_K=12
FINAL_CONTEXT_TOP_K=6
